doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title home page
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/navbar.css')
  link(rel='stylesheet' href='/css/home.css')
header
  .top-nav
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-fluid
        .navbar-brand Dockville
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.nav-center
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href='home') Home
            li.nav-item
              a.nav-link.active(aria-current='page' href='/api/parkform') Parking 
            li.nav-item
              a.nav-link(href='/api/batteryform') Battery
            li.nav-item
              a.nav-link(href='tires') Tires 
          .dropdown
            button.btn.dropdown-toggle.user-btn(type='button' data-bs-toggle='dropdown' aria-expanded='false')
              .user-image
                img(src='/images/user-image.jpg' alt='')
            ul.dropdown-menu
              li
                form(action='#' method='POST')
                  button.dropdown-item(type='button') Revenue data
              li
                form(action='/logout' method='POST')
                  button.dropdown-item(type='button') Want to log out
              // <li><button class="dropdown-item" type="button"><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Reset password</button></button></li>
              li
                button.dropdown-item(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal') Reset password
    // pop up for reset password starts here.
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h1#exampleModalLabel.modal-title.fs-5 Reset password
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form
              .mb-3
                label.col-form-label(for='recipient-name') Enter email:
                input#recipient-name.form-control(type='text')
              .mb-3
                label.col-form-label(for='recipient-name') Old password:
                input#recipient-name.form-control(type='text')
              .mb-3
                label.col-form-label(for='recipient-name') New password:
                input#recipient-name.form-control(type='text')
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='button') Confirm changes
    // popup for reset password ends here.
.logo(style='background-image: url(/images/dockville.png);')
section
  .container
    .card
      .content
        .imgBx
          img(src="/images/carparkx.jpg")
        .contentBx
          h3
            | Parking 
            br
            span section 
      ul.sci
        li
          a(href='parklist') parking 
        
       
    .card
      .content
        .imgBx
          img(src="/images/engine.jpg")
        .contentBx
          h3
            | Battery 
            br
            span section 
      ul.sci
        li
          a(href='batterylist') Battery
        
    .card
      .content
        .imgBx
          img(src="/images/homepage.webp")
        .contentBx
          h3
            | Tires
            br
            span section 
      ul.sci
        li
          a(href='tireslist') Tires
       

script(src='/js/form2.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz' crossorigin='anonymous')




