
body{
    /* background-image: url("/images/dockville.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(to top right, #71b7e6, #9b59b6);
    height: 100vh;
    background-attachment: fixed;
}
img{
  position: absolute;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  left: 550px;
  z-index: 90;
  
}


/* .button{
    background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
    color: black;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: solid;
    border-radius: 10%;
   /* position: ; 
} */

/* submit button */
.button {
    height: 45px;
    margin: 45px 0;
    z-index: 100;

  }
  
  .button input {
    height: 100%;
    width: 10%;
    margin-left: 45%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    /* background-color: linear-gradient(135deg, var(--main-blue), var(--main-purple)); */
    /* background-color: black; */
    background: linear-gradient(to top right, #71b7e6, #9b59b6);
    transition: all 0.3s ease;
    position: center;
    margin-top: 605px;
  
  }
  
  
  .button input:hover {
    background: linear-gradient(-100deg, var(--main-blue), var(--main-purple));
  }
  